<div class = "col-md-4">
	<h2>Take a Name</h2>
	<form class = "create-form">
		<div class = "form-group">
			<label for = "ass_name">Enter Name: </label>
			<input type = "text" id="ass_name" name="name" maxlength="18">
		</div>
		Choose a Picture
		<div class ="row">
			<div class="form-check form-check-inline" id="choose-picture">
				<div class="row text-center" id ="pic-choices">
					<div id = "pic-choices">
					</div>
				</div>
			</div>
		</div>
			<form id = "kicker-list">
				<div class="form-group">
					<br>Don't forget to let them know you're kicking their ass
					<br>
					<select id="choose-name" style="padding:5px"></select>
				</div>
			</form>
			<button type="submit" id="take-name">Take Name</button>
	</form>
</div>
<div class = "col-md-4">
	<h2>Names Taken</h2>
	<div class="row">
		<ul>
			{{#each assesTable}}
				{{#unless dataValues.ass_kicked}}
					<div class="col-sm-3 names">
						{{> asses/ass-block }}
					</div>
				{{/unless}}
			{{/each}}
		</ul>
	</div>
</div>
<div class = "col-md-4">
	<h2>Asses Kicked</h2>
	<ul>
		{{#each assesTable}}
			{{#if dataValues.ass_kicked}}
				<div class = "col-sm-3 names">
						<img class="tooltip" src="/assets/img/{{dataValues.ass_picture}}kicked.png">
						<span class="tooltiptext">Kicked by {{dataValues.Kicker.name}}</span>
					<br>
					<p class = "name-wrap">{{dataValues.ass_name}}</p>
				</div>
			{{/if}}
		{{/each}}
	</ul>
</div>