{{!-- <h2>First, what is your name?</h2>
<form id = "kicker-list">
	<div class="form-group">
		<label for = "choose-name">Select Your Name:</label>
		<select class="form-control" id="choose-name"></select>
		<button type="submit">Go!</button>
	</div>
</form>
Don't see your name?
<br>Add one here
<form id = "new-kicker-name">
	<div class="form-group">
		<label for = "type-name">Enter Your Name</label>
		<input placeholder="ex. Silly Billy" type="text" class="form-control" id="type-name">
		<button type="submit">Add!</button>
	</div>
</form> --}}