<li>
	<img src="/assets/img/{{dataValues.ass_picture}}.png">
	<p class = "name-wrap">{{dataValues.ass_name}}</p>
	<button class="kick-em" data-id="{{dataValues.id}}" data-newkick="true">Kick</button>
</li>
